# # MongoDB Connection
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/jobPortal?retryWrites=true&w=majority

# # JWT Secret Key
# JWT_SECRET=your_jwt_secret_key_here

# # Email Configuration (Gmail SMTP)
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USER=your_email@gmail.com
# MAIL_PASS=your_app_password_here

# # Application URL
# APP_URL=http://localhost:5000


MONGO_URI=mongodb+srv://admin:admin@cluster0.6cj2rkn.mongodb.net/jobPortal?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=bhaliyayash595@gmail.com
MAIL_PASS=fzjrwhcpdinxzutq
APP_URL=https://job-portal-8aak.onrender.com
